In [2]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
q = pd.Period('2019Q2')

q.start_time
q.end_time

Timestamp('2019-06-30 23:59:59.999999999')

In [9]:
idx = pd.period_range('2011','2019',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [17]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1   -0.791798
2011Q2    0.699861
2011Q3   -1.066294
2011Q4   -0.166249
2012Q1    2.525831
2012Q2   -0.779454
2012Q3    0.269041
2012Q4   -0.504669
2013Q1   -0.234212
2013Q2   -0.669501
2013Q3   -0.718509
2013Q4    0.826272
2014Q1   -0.467005
2014Q2    1.319960
2014Q3   -0.126370
2014Q4   -0.608662
2015Q1    1.622906
2015Q2    1.538238
2015Q3    0.511003
2015Q4    0.370765
2016Q1    0.381981
2016Q2    0.112679
2016Q3    1.639151
2016Q4   -0.911496
2017Q1   -0.635948
2017Q2    0.126448
2017Q3    0.441165
2017Q4   -0.501907
2018Q1   -1.833174
2018Q2    0.638315
2018Q3   -0.893587
2018Q4   -1.057789
2019Q1    0.994287
Freq: Q-DEC, dtype: float64

In [28]:
pi = ps.index
pi

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [30]:
type(pi)
pst = ps.to_timestamp()

In [31]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01', '2018-07-01', '2018-10-01',
               '2019-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [40]:
df = pd.read_csv('walmart.csv')
df.set_index('Line Item',inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [45]:
df.index = pd.PeriodIndex(df.index,freq='Q-Jan')

In [47]:
df['start time'] = df.index.map(lambda x:x.start_time)
df['end time'] = df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit start time                      end time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999