In [3]:
import pandas as pd

kulfi = ['chocolate','mango','vanilla','strawberry','kesar']

pd.Series(kulfi)

0     chocolate
1         mango
2       vanilla
3    strawberry
4         kesar
dtype: object

In [5]:
Men = ['smart','handsome','charming','brilliant','humble']
quality = pd.Series(Men)

0        smart
1     handsome
2     charming
3    brilliant
4       humble
dtype: object

In [13]:
quality.values
quality.index
quality.dtypes

dtype('O')

In [19]:
rate = [3.99,4.58,9.22,7.15,8.16]
r = pd.Series(rate)
r

0    3.99
1    4.58
2    9.22
3    7.15
4    8.16
dtype: float64

In [20]:
r.sum()

33.099999999999994

In [21]:
r.product()

9830.271106656002

In [22]:
r.mean()

6.619999999999999

In [26]:
fruits = ['apple','mango','watermelon','pineapple','grape']
weekdays = ['Mon','Tue','Wed','Thru','Fri']
pd.Series(data=fruits,index=weekdays)

Mon          apple
Tue          mango
Wed     watermelon
Thru     pineapple
Fri          grape
dtype: object

In [42]:
import pandas as pd
df = pd.read_csv('pokemon.csv',encoding='cp1252',squeeze=True,usecols=['Pokemon'])
df

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [32]:
with open('pokemon.csv') as csv_file:
    print(csv_file)

<_io.TextIOWrapper name='pokemon.csv' mode='r' encoding='cp1252'>

In [34]:
df.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [35]:
df.head(10)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

In [36]:
df.values

array([['Bulbasaur', 'Grass'],
       ['Ivysaur', 'Grass'],
       ['Venusaur', 'Grass'],
       ...,
       ['Diancie', 'Rock'],
       ['Hoopa', 'Psychic'],
       ['Volcanion', 'Fire']], dtype=object)

In [37]:
df.index

RangeIndex(start=0, stop=721, step=1)

In [44]:
df.dtypes

dtype('O')

In [43]:
df.is_unique

True

In [45]:
df.ndim

1

In [46]:
df.shape

(721,)

In [47]:
df.size

721

In [48]:
pd.value_counts(df)

Chikorita     1
Shedinja      1
Bouffalant    1
Hoothoot      1
Diglett       1
             ..
Skitty        1
Inkay         1
Heatmor       1
Electabuzz    1
Cranidos      1
Name: Pokemon, Length: 721, dtype: int64

In [59]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon'],encoding='cp1252',squeeze=True)
pokemon.sort_values(ascending=False).head(20)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
262    Zigzagoon
643       Zekrom
522    Zebstrika
144       Zapdos
334     Zangoose
716      Yveltal
468      Yanmega
192        Yanma
561       Yamask
715      Xerneas
177         Xatu
359       Wynaut
264      Wurmple
412     Wormadam
193       Wooper
Name: Pokemon, dtype: object