In [17]:
import pandas as pd

nba_df = pd.read_csv('nba.csv')
nba_df.tail()
nba_df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [12]:
row = ['Sumit Saurav','Boston Celtics',7.0,'SF',23.0,'6-7',199.7,'IIT',500000000.0]
nba_df[457,0] = 'Sumit Saurav'
nba_df['Name'].tail()

453    Shelvin Mack
454       Raul Neto
455    Tibor Pleiss
456     Jeff Withey
457             NaN
Name: Name, dtype: object

In [9]:
nba_df['Sports'] = 'Basketball'
nba_df['Sports']

0      Basketball
1      Basketball
2      Basketball
3      Basketball
4      Basketball
          ...
453    Basketball
454    Basketball
455    Basketball
456    Basketball
457    Basketball
Name: Sports, Length: 458, dtype: object

In [10]:
nba_df.columns

Index([    'Name',     'Team',   'Number', 'Position',      'Age',   'Height',
         'Weight',  'College',   'Salary',   (457, 0),   'Sports'],
      dtype='object')

In [14]:
nba_df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [18]:
nba_df.insert(3,column='Sports',value='Basketball')

In [19]:
nba_df.head()

,Name,Team,Number,Sports,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,Basketball,PF,29.0,6-10,231.0,NaN,5000000.0