In [2]:
import pandas as pd

df = pd.read_csv('bond.csv',index_col='Film')
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [8]:
df.drop(labels=['Actor'],axis=1,inplace=True)

KeyError: "['Actor'] not found in axis"

In [9]:
df.head()

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Terence Young,848.1,41.9,4.7
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN