In [3]:
import pandas as pd

df = pd.read_csv('bond.csv',index_col='Film')
df.sort_index(inplace=True)
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [13]:
df.sample(n=3,axis=1)

                                 Budget            Director  Box Office
Film
A View to a Kill                   54.5           John Glen       275.2
Casino Royale                     145.3     Martin Campbell       581.5
Casino Royale                      85.0          Ken Hughes       315.0
Diamonds Are Forever               34.7        Guy Hamilton       442.5
Die Another Day                   154.2        Lee Tamahori       465.4
Dr. No                              7.0       Terence Young       448.8
For Your Eyes Only                 60.2           John Glen       449.4
From Russia with Love              12.6       Terence Young       543.8
GoldenEye                          76.9     Martin Campbell       518.5
Goldfinger                         18.6        Guy Hamilton       820.4
Licence to Kill                    56.7           John Glen       250.9
Live and Let Die                   30.8        Guy Hamilton       460.3
Moonraker                          91.5       Lewis Gilbert       535.0
Never Say Never Again              86.0      Irvin Kershner       380.0
Octopussy                          53.9           John Glen       373.8
On Her Majesty's Secret Service    37.3       Peter R. Hunt       291.5
Quantum of Solace                 181.4        Marc Forster       514.2
Skyfall                           170.2          Sam Mendes       943.5
Spectre                           206.3          Sam Mendes       726.7
The Living Daylights               68.8           John Glen       313.5
The Man with the Golden Gun        27.7        Guy Hamilton       334.0
The Spy Who Loved Me               45.1       Lewis Gilbert       533.0
The World Is Not Enough           158.3       Michael Apted       439.5
Thunderball                        41.9       Terence Young       848.1
Tomorrow Never Dies               133.9  Roger Spottiswoode       463.2
You Only Live Twice                59.9       Lewis Gilbert       514.2